{% extends 'base.html' %}

{% block title %}
    Home |
{% endblock title %}

{% block additional_head_links %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script defer src="https://unpkg.com/hyperleaflet@0.4.4"></script>

{% endblock additional_head_links%}

{% block additional_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

<style>
  #map {
    height: 800px
  }
</style>

{% endblock additional_css %}

{% block content %}



<script defer>

  const setVals = (selector) => {
    console.log('setVals')
    let htmxElement = document.querySelector(selector);
    if(htmxElement && hyperleaflet){
      let bounds = hyperleaflet.map.getBounds();
      let bboxString = [
          bounds.getSouthWest().lat,
          bounds.getSouthWest().lng,
          bounds.getNorthEast().lat,
          bounds.getNorthEast().lng,
      ].join(',');
      const query = JSON.stringify({bbox: `${bboxString}`, zoom: hyperleaflet.map.getZoom()})
      console.log(`SETTIN Hx-vals: ${query}`)
      htmxElement.setAttribute('hx-vals',query);
      console.log('setVals END')
    }else{
      console.error(`no htmx or hyperleaflet for ${selector}`)
    }

    console.log('setVals END END')

  }

  window.addEventListener('hyperleaflet:ready', (event) => {
    // setVals('[data-hyperleaflet-source]')
    setVals('#point_container')
    /*let htmxElement = document.querySelector('');
    if (htmxElement) {
      let bounds = hyperleaflet.map.getBounds();
        let bboxString = [
            bounds.getSouthWest().lat,
            bounds.getSouthWest().lng,
            bounds.getNorthEast().lat,
            bounds.getNorthEast().lng,
        ].join(',');
        const query = JSON.stringify({bbox: `${bboxString}`, zoom: hyperleaflet.map.getZoom()})
        console.log(`SETTIN Hx-vals: ${query}`)

        htmxElement.setAttribute('hx-vals',query);
    }*/


  window.addEventListener('geometry:click', (e) => {
    const { clickedPoint, geometry, rowId } = e.detail;
    console.log(`Clicked on row with ID ${rowId}`);
    console.log(`Geometry: ${JSON.stringify(geometry)}`);
    console.log(`Clicked at (${clickedPoint.lat}, ${clickedPoint.lng})`);
  });

/*
  window.addEventListener(, (event) => {
    const { point } = event.detail;
    console.log(`\n\n Map MOVE OCCURED at: (${point.lat}, ${point.lng})`);


    const query = JSON.stringify({lat: point.lat, lng: point.lng})
    console.log(`(post_search) SETTIN Hx-vals: ${query}`)
    htmx.logAll();

    let htmxElements = document.querySelectorAll('.point_vals');
    if(htmxElements && htmxElements.length > 0){

      htmxElements.forEach((elm) => {
        console.log(`(post_search) htmxElement.setAttribute('hx-vals', ${query});)`, {elm})
        elm.setAttribute('hx-vals', query);
      })
      

      htmx.trigger("#post_search", "mapclick")
      
      
    }else{
      console.error('(post_search) \n\n!!!No post_search element!!\n\n')
    }
    
  });*/
/*
  window.addEventListener('map:move', (e) => {
    const { zoom, center, bbox, bboxString } = e.detail;
    console.log(`Map zoom at level ${zoom}`);
    console.log(`Centered at (${center.lat}, ${center.lng})`);
    console.log(`Bounded by (${bbox.min.lat}, ${bbox.min.lng}) and (${bbox.max.lat}, ${bbox.max.lng})`);
    console.log(`Bounding box string: ${bboxString}`);
  });

  window.addEventListener('map:zoom', (e) => {
    const { zoom, center, bbox, bboxString } = e.detail;
    console.log(`Map zoomed to level ${zoom}`);
    console.log(`Centered at (${center.lat}, ${center.lng})`);
    console.log(`Bounded by (${bbox.min.lat}, ${bbox.min.lng}) and (${bbox.max.lat}, ${bbox.max.lng})`);
    console.log(`Bounding box string: ${bboxString}`);
  });*/


  /*
  window.addEventListener('map:move', (event) => {
    const query = JSON.stringify({lat: point.lat, lng: point.lng})
    console.log(`SETTIN Hx-vals: ${query}`)
    htmx.logAll();

    let htmxElement = document.querySelector('#point_container');
    if(htmxElement){
      console.log(`htmxElement.setAttribute('hx-vals', ${query});)`)
      htmxElement.setAttribute('hx-vals', query);

      htmx.trigger("#post_search", "mapclick")
      
    }else{
      console.error('\n\n!!!No post_search element!!\n\n')
    }
  })*/



  })

    
    // Fire your custom event after setting the hx-vals
    // window.dispatchEvent(new Event('hyperleaflet:ready'));


  /*window.addEventListener('hyperleaflet:ready', (e) => {
    window.dispatchEvent(new Event('hyperleaflet:ready'))

    hyperleaflet.on('move', () => {
      
    });
    //window.dispatchEvent(new Event('map:move'));
  })
  
  hyperleaflet.whenReady(() => {
    
  })

  window.addEventListener('map:move', (e) => {
    const { zoom, center, bbox, bboxString } = e.detail;
    console.log(`Map zoom at level ${zoom}
    Centered at (${center.lat}, ${center.lng})
    Bounded by (${bbox.min.lat}, ${bbox.min.lng}) and (${bbox.max.lat}, ${bbox.max.lng})
    Bounding box string: ${bboxString}`)
  });


  window.addEventListener('map:click', (event) => {
    const { point } = event.detail;
    console.log(`Map clicked at: (${point.lat}, ${point.lng})`);
  });;*/



 // 

</script>
<div id="map"
 data-zoom="5"
 data-center="[26.79, -69.71]"
 >
  <div
   data-tile="EsriWorldImagery">
  </div>


<div
id="point_container"
hx-trigger="hyperleaflet:ready from:window, map:move delay:100ms from:window" 
hx-swap="innerHTML"
hx-get="/points"
data-hyperleaflet-source> 

</div>

<span id="post_search"
hx-post="/search"
hx-trigger="mapclick"
></span>

</div>
<!--
<div hx-swap-oob="true" hx-trigger="load" hx-get="/data" hx-indicator="#loading" class="hyperleaflet" style="width: 100%; height: 400px;"></div>
<div id="loading">Loading...</div>

<div
      id="map"
      data-center="[30.91705, 40.4645]"
      data-zoom="4"
      data-reverse-order-all
    >
      <div data-tile="EsriWorldImagery"></div>
      <div data-tile="OpenStreetMap" data-default-tile></div>
      <div data-hyperleaflet-source data-geometry-display="json">
        <span
          data-id="1"
          data-geometry-type="Point"
          data-geometry="[32.8597,39.9334]"
          data-popup="<span class='city-popup'> Ankara </span>"
        ></span>
        <span
          data-id="2"
          data-geometry-type="Point"
          data-geometry="[28.9744, 41.0082]"
          data-popup="<span class='city-popup'>İstanbul</span>"
        ></span>
        <span
          data-id="3"
          data-geometry-type="LineString"
          data-geometry="[
          [28.9744, 41.0082],
          [32.8597,39.9334]
        ]"
          data-tooltip="Road to Ankara"
        >
        </span>
      </div>
      <span class="custom-control zoom-level" id="zoom-level"></span>
      
    </div>-->

    {{ count }}
{% endblock content %} 


