{% extends 'base.html' %}

{% block title %}
    Home |
{% endblock title %}

{% block additional_head_links %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script defer src="https://unpkg.com/hyperleaflet@0.4.4"></script>

{% endblock additional_head_links%}

{% block additional_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

<style>
  #map {
    height: 800px
  }
</style>

{% endblock additional_css %}

{% block content %}

<script>
  function hyperleafletData() {
    console.log('hyperleafletData')
      return {
          countries: [],
          loadPoints() {
            if(!hyperleaflet){
              console.log('no hyperleaflet')
            }else{
              const bbox = hyperleaflet.getBBoxString();
              console.log(bbox)
              /*fetch(`/points?bbox=${bbox}`)
                  .then(res => res.json())
                  .then(data => {
                      this.countries = data; // Assuming the API returns an array of countries
                  });*/

              // Still assuming you have a map instance set up already
              hyperleaflet.on('move', () => {
                  this.loadPoints();
                  console.log('move')

              });
            }
          }
      }
  }


</script>

<script defer>
  /*window.addEventListener('hyperleaflet:ready', (e) => {
    window.dispatchEvent(new Event('hyperleaflet:ready'))

    hyperleaflet.on('move', () => {
      
    });
    //window.dispatchEvent(new Event('map:move'));
  })
  
  hyperleaflet.whenReady(() => {
    
  });*/

  window.addEventListener('map:move', (e) => {
    const { zoom, center, bbox, bboxString } = e.detail;
    console.log(`Map zoom at level ${zoom}
    Centered at (${center.lat}, ${center.lng})
    Bounded by (${bbox.min.lat}, ${bbox.min.lng}) and (${bbox.max.lat}, ${bbox.max.lng})
    Bounding box string: ${bboxString}`)
  });


  window.addEventListener('map:click', (event) => {
    const { point } = event.detail;
    console.log(`Map clicked at: (${point.lat}, ${point.lng})`);
  });


</script>
<button @click="console.log('woha click')">HMMMM</button>
<div id="map"
 data-zoom="5"
 data-center="[26.79, -69.71]"
 >
  <div
   data-tile="EsriWorldImagery">
  </div>
</div>
<!--hx-get="/points" hx-vals="js:{bbox: hyperleaflet.getBBoxString()}"-->
<div
data-hyperleaflet-source> 
 <span data-id="1"
  data-geometry-type="Point"
  data-geometry="[25.775, -80.193]"
  data-popup="<h3>Miami</h3>"></span>
 <span data-id="2"
  data-geometry-type="Point"
  data-geometry="[18.465, -66.117]"
  data-popup="<h3>San Juan</h3>"></span>
 <span data-id="3"
  data-geometry-type="Point"
  data-geometry="[32.317, -64.737]"  
  data-popup="<h3>Bermuda</h3>"></span>
 <span data-id="4"
  data-geometry-type="Polygon"
  data-geometry="[[[25.775, -80.193], [18.465, -66.117],
   [32.317, -64.737], [25.775, -80.193]]]"
   data-tooltip="😈"
   ></span>
</div>

<!--
<div hx-swap-oob="true" hx-trigger="load" hx-get="/data" hx-indicator="#loading" class="hyperleaflet" style="width: 100%; height: 400px;"></div>
<div id="loading">Loading...</div>

<div
      id="map"
      data-center="[30.91705, 40.4645]"
      data-zoom="4"
      data-reverse-order-all
    >
      <div data-tile="EsriWorldImagery"></div>
      <div data-tile="OpenStreetMap" data-default-tile></div>
      <div data-hyperleaflet-source data-geometry-display="json">
        <span
          data-id="1"
          data-geometry-type="Point"
          data-geometry="[32.8597,39.9334]"
          data-popup="<span class='city-popup'> Ankara </span>"
        ></span>
        <span
          data-id="2"
          data-geometry-type="Point"
          data-geometry="[28.9744, 41.0082]"
          data-popup="<span class='city-popup'>İstanbul</span>"
        ></span>
        <span
          data-id="3"
          data-geometry-type="LineString"
          data-geometry="[
          [28.9744, 41.0082],
          [32.8597,39.9334]
        ]"
          data-tooltip="Road to Ankara"
        >
        </span>
      </div>
      <span class="custom-control zoom-level" id="zoom-level"></span>
      
    </div>-->

    {{ count }}
{% endblock content %} 


