 <span data-id="1"
  data-geometry-type="Point"
  data-geometry="[25.775, -80.193]"
  data-popup="<h3>Miami</h3>"></span>
 <span data-id="2"
  data-geometry-type="Point"
  data-geometry="[18.465, -66.117]"
  data-popup="<h3>San Juan</h3>"></span>
 <span data-id="3"
  data-geometry-type="Point"
  data-geometry="[32.317, -64.737]"  
  data-popup="<h3>Bermuda</h3>"></span>
 <span data-id="4"
  data-geometry-type="Polygon"
  data-geometry="[[[25.775, -80.193], [18.465, -66.117],
   [32.317, -64.737], [25.775, -80.193]]]"
   data-tooltip="😈"
   ></span>